<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Реставрація</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="expertise.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../general.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,900" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header">
            <img src="../../images/header/NDI logo-16.png" alt='НДІПРОЕКТРЕКОНСТРУКЦІЯ' class="header-img-logo">
        <ul class="header-menu">
            <li><a  href="#">Головна</a></li>
            <li><a  href="#">Про нас</a></li>
            <li class="header-menu-activity"><a  href="#aside">Діяльність</a> 
                <svg id="Слой_1" class="header-menu-svg-arrow" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs><title>NDI main</title><polyline class="cls-1" points="28.88 2.28 14.94 11.76 0.99 2.28"/></svg>
            <ul class="header-menu-menu" id="arr">
                <li><a href="#">Експертиза об’єктів будівництва</a></li>
                <li><a href="#">Розробка містобудівної, планувальної документації</a></li>
                <li><a href="#">Проектування об’єктів будівництва, реконструкції, капітального ремонту інженерних мереж</a></li>
                <li><a href="#">Реставрація об’єктів культурної спадщини</a></li>
                <li><a href="#">Інженерно-геологічні вишукування та діагностика (технічний висновок) технічного стану будівель та споруд</a></li>
                <li><a href="#">Обліково охоронна документація на об'єкти культурної спадщини</a></li>
                <li><a href="#">Технічний нагляд за будівництвом</a></li>
            </ul>
            </li>
            <li><a href="#">Новини</a></li>
            <li><a href="#">Контакти</a></li>
            <li><form class="header-search">
                    <div class="header-search-group">      
                        <input class="header-input" type="text" required>
                        <span class="header-bar"></span>
                        <label class="header-label"><svg  title="Пошук" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.81 34.06"><defs><style>.cls-1,.cls-2{fill:none;stroke:#000;stroke-miterlimit:10;}.cls-1{stroke-width:2px;}.cls-2{stroke-width:3px;}</style></defs><title>Пошук</title><circle class="cls-1" cx="13.42" cy="13.42" r="12.42"/><line class="cls-2" x1="22.84" y1="22.08" x2="33.75" y2="33"/></svg></label>
                    </div>
                </form>
            </li>
        </ul>
        <div id="darkness" class="backdrop"></div> 
        </div>
    </header>
    <section class="main">
        <h2>>Експертиза об’єктів будівництва</h2>
        <div class="div-top">
            <div class="div-top-img">
                <img src="../../images/expertise/div-top-img.png" alt="Експертиза">
                <p>Дніпровська філія інституту «НДІПРОЕКТРЕКОНСТРУКЦІЯ» має розгалужену мережу замовників експертизи, як державного так і приватного сектору, тісно взаємодіє з органами державної влади та місцевого самоврядування по всій Україні.</p>
            </div>
            <div class="div-top-doc">
                <h4>Документи:</h4>
                <p class="div-top-doc-questionnaire">Анкета</p>
                <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14"><!--<defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs>--><title>NDI main</title><polyline class="cls-1" points="28.88 2.28 14.94 11.76 0.99 2.28"/></svg>
                <p class="div-top-doc-offer">Договір</p>
                <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs><title>NDI main</title><polyline class="cls-1" points="28.88 2.28 14.94 11.76 0.99 2.28"/></svg>
            </div>
        </div>
        <div class="advantages">
            <h3>Наші переваги</h3>
            <div class="advantages-div">
                <div class="advantages-div-div">
                    <div class="advantages-div-1">
                        <img src="../../images/expertise/advantages-img1.png" alt="">
                        <p><span>Державна</span></br>експертиза</br>будівництва</p>
                    </div>
                    <div class="advantages-div-2">
                        <img src="../../images/expertise/advantages-img2.png" alt="">
                        <p>Працюємо</br>по всій</br><span>Україні</span></p>
                    </div>
                    <div class="advantages-div-3">
                        <img src="../../images/expertise/advantages-img3.png" alt="">
                        <p>Розташовані</br>в центрі міста</br>і в центрі країни</p>
                    </div>
                    <div class="advantages-div-4">
                        <img src="../../images/expertise/advantages-img4.png" alt="">
                        <p>Сертифіковані</br>експерти</br>по всім напрямам*</p>
                    </div>
                    <div class="advantages-div-5">
                        <img src="../../images/expertise/advantages-img5.png" alt="">
                        <p><span>>2000</span></br>успішних</br>експертиз</br>в рік</p>
                    </div>
                    <div class="advantages-div-6">
                        <img src="../../images/expertise/advantages-img6.png" alt="">
                        <p>Здійснюємо</br>експертизу об’єктів</br>усіх класів наслідків</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-div">
            <h4>Послуги експертизи об’єктів будівництва:</h4>
            <div class="services-div-drop">
                <ul>
                    <li><span>1.</span>Експертиза будівель і споруд класу наслідків (відповідальності) СС1<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14"><!--<defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs>--><title>NDI main</title><polyline class="cls-1" points="28.88 2.28 14.94 11.76 0.99 2.28"/></svg></li>
                    <li><span>2.</span>Експертиза будівель і споруд класу наслідків (відповідальності) СС2<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14"><!--<defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs>--><title>NDI main</title><polyline class="cls-1" points="28.88 2.28 14.94 11.76 0.99 2.28"/></svg></li>
                    <li><span>3.</span>Експертиза будівель і споруд класу наслідків (відповідальності) СС3<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14"><!--<defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs>--><title>NDI main</title><polyline class="cls-1" points="28.88 2.28 14.94 11.76 0.99 2.28"/></svg></li>
                    <li><span>4.</span>Експертиза кошторисної частини проекту<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14"><!--<defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs>--><title>NDI main</title><polyline class="cls-1" points="28.88 2.28 14.94 11.76 0.99 2.28"/></svg></li>
                    <li><span>5.</span>Експертні оцінки<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14"><!--<defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs>--><title>NDI main</title><polyline class="cls-1" points="28.88 2.28 14.94 11.76 0.99 2.28"/></svg></li>
                    <li><span>6.</span>Безкоштовна консультація<svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14"><!--<defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs>--><title>NDI main</title><polyline class="cls-1" points="28.88 2.28 14.94 11.76 0.99 2.28"/></svg></li>
                </ul>
                <div class="services-div-list">
                    <p>Реєстр атестованих експертів</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero distinctio tempore et fugit architecto accusantium tempora est dolores autem impedit? Ipsam, non beatae! Hic sit saepe nemo ea rem cupiditate.</p>
                </div>
                <div class="services-div-drop-button">Замовити експертизу</div>
            </div>
        </div>
    </section>
    <aside>
        <h2>Інші напрями діяльності</h2>
        <div class="aside-div" id="aside">
            <a href="#">Експертиза об’єктів будівництва</a>
            <a href="#">Розробка містобудівної, планувальної документації</a>
            <a href="#">Проектування об’єктів будівництва, реконструкції, капітального ремонту інженерних мереж</a>
            <a href="#">Реставрація об’єктів культурної спадщини</a>
            <a href="#">Інженерно-геологічні вишукування та діагностика (технічний висновок) технічного стану будівель та споруд</a>
            <a href="#">Обліково охоронна документація на об'єкти культурної спадщини</a>
            <a href="#">Технічний нагляд за будівництвом</a>
        </div>
    </aside>
    <footer>
        <div class="footer-div">
            <div class="footer-links">
                <h4>Посилання</h4>
                <a href="#">Головний інститут</a>
                <a href="#">Мінрегіон</a>
                <a href="#">Урядовий портал</a>
                <a href="#">CRUSP</a>
            </div>
            <div class="address">
                <h4>Адреса</h4>
                <p>м. Дніпро</p>
                <p>вул. В'ячеслава Липинського 7</p>
            </div>
            <div class="address-reception">
                <h4>Приймальня</h4>
                <p>тел.: +38 0562 383160</p>
                <p>факс.: +38 056 7442046</p>
                <p>nii.proekt@gmail.com</p>
            </div>
            <div class="address-exp">
                <h4>Експертиза</h4>
                <p>тел.: +38 0562 383160</p>
                <p class="address-email">nii.expert.dp@gmail.com</p>
            </div>
        </div>
    </footer>
    <script
        src="https://code.jquery.com/jquery-1.9.1.min.js"
        integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ="
        crossorigin="anonymous">
    </script> 
    <script>
        $('#arr').hover(function(){
            $('#darkness').fadeTo(300, 1);
        }, function(){
            $('#darkness').fadeTo(300, 0, function(){
                $(this).hide();
            });
        });
    </script>
</body>
</html>