.main {
  margin: 50px 0 50px 0;
}
.infinite-container {
  margin: 50px auto 50px;
  max-width: 600px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
.infinite-item {
  max-width: 600px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #666666;
}
.infinite-item img {
  max-width: 600px;
}
.infinite-item h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}
.infinite-item p {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
aside {
  background-color: #f2f2f2;
}
aside h2 {
  margin-top: 20px;
  margin-left: 90px;
  padding: 20px 0 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.aside-div {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  margin: 0 auto;
}
.aside-div a {
  text-decoration: none;
  color: #000000;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 10px 0 10px 90px;
  margin-bottom: 10px; 
}
.aside-div a:hover {
  background-color: #FFFFFF;
}
/* адаптивность */

@media all and (max-width: 835px) {
  .main {
    margin-top: 110px;
  }
  aside h2 {
    margin-left: 10%;
  }
  .aside-div a {
    padding: 10px 0 10px 10%;
  }
}
@media all and (max-width: 780px) {
  .main {
    margin-top: 50px;
  }
}
@media all and (max-width: 750px) { 
  .main {
    margin-top: 100px;
  }
  aside {
    text-align: center;
  }
  aside h2 {
    margin-left: 0;
  }
  .aside-div a {
    padding: 10px 0 10px 0;
  }
}
@media all and (max-width: 665px) {
  .main {
    margin-top: 110px;
  }
}
@media all and (max-width: 600px) {
  .infinite-item img {
    max-width: 400px;
  }
  .infinite-container {
    max-width: 400px;
  }
}
@media all and (max-width: 410px) {
  .main {
    margin-top: 160px;
  }
  .infinite-item img {
    max-width: 300px;
  }
  .infinite-container {
    max-width: 300px;
  }
}